<div class="jumbotron">
	<h1>About Kebobs</h1>
	<div class="row">
		<div class="col-xs-6">
			<p>Kebobs are the best and if you don't like kebobs than you are wrong</p>
		</div>
		<div class="col-xs-6">
			<p>Kebobssssssssssssssssssssss ssssssssssssssssssssssssss!</p>
		</div>
	</div>
</div>

<div class="row">
	<h1>Meet the Kebobs</h1>
</div>

<div class="row text-center">
	<div class="col-xs-3">
		<img src="http://4.bp.blogspot.com/_fuv1qS-8hqs/S-6V_xjIGgI/AAAAAAAAAPE/RDlVGmVDd4w/s1600/scallop%2Bkebob.jpg" class="img-circle" height="180">
		<h2>Kebab</h2>
		<p>Kebab kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab</p>
	</div>
	<div class="col-xs-3">
		<img src="http://www.delish.com/cm/delish/images/5t/thailand-chicken-sate-lg.jpg" class="img-circle" height="180">
		<h2>Kebab</h2><p>Kebab kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab</p>
	</div>
	<div class="col-xs-3">
		<img src="http://placekitten.com/180/182" class="img-circle">
		<h2>Kebab</h2><p>Kebab kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab</p>
	</div>
	<div class="col-xs-3">
		<img src="http://ak4.picdn.net/shutterstock/videos/2532413/preview/stock-footage-shish-kebob.jpg" class="img-circle" height="180">
		<h2>Kebab</h2><p>Kebab kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab kebob kebab kebob kabob kebab</p>
	</div>

</div>